# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  workflow_dispatch:
    inputs:
      token:
        required: true
        type: string
      board:
        required: true
        type: string
        default: uXjVIyZqiAI=
      frame:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
    - run: npx miro-export -t ${{ github.event.inputs.token }} -b ${{ github.event.inputs.board }} -f ${{github.event.inputs.frame}} -o out.svg
    - uses: actions/upload-artifact@v4
      with:
        name: out
        path: out.svg
